<div class="footer">
    <ul >
        <li>
            <a href="https://github.com/GRoz9">
                <i class="fa-brands fa-github"></i>
            </a>
        </li>
    </ul>
    <p class="Branding">©GR9 2023</p>
</div>